@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box;
}
*{
    font-family: 'Poppins', sans-serif;
}

.bg-cyan-50{
    background-color: #ff008a;
    color: white;
}
